body {
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-family: Inconsolata, "Lucida Console", Monaco, Courier, monospace;
}

.jds-content {
  display: none;
}

.jds-socialWrap {
  padding: 10px;
}

.jds-socialWrap i {
  margin-right: 5px;
  margin-bottom: 10px;
}

.jds-socialWrap a, .jds-socialWrap:visited {
  color: #fff;
}

.jds-socialWrap a:hover {
  color: #ffffa0;
}

.term--highlight {
  color: yellow;
}

#term-hard {
  padding-bottom: 0;
}

#term-soft {
  padding-top: 0;
  display: none;
}

.typed-strings {
  display:none;
}

.typed-cursor {
    -webkit-animation: terminal-blink 1s infinite steps(1, start);
       -moz-animation: terminal-blink 1s infinite steps(1, start);
        -ms-animation: terminal-blink 1s infinite steps(1, start);
            animation: terminal-blink 1s infinite steps(1, start);
}
@-webkit-keyframes terminal-blink {
  0%, 100% {
      background-color: #000;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: #000;
  }
}

@-ms-keyframes terminal-blink {
  0%, 100% {
      background-color: #000;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: #000;
  }
}

@-moz-keyframes terminal-blink {
  0%, 100% {
      background-color: #000;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: #000;
  }
}
@keyframes terminal-blink {
  0%, 100% {
      background-color: #000;
      color: #aaa;
  }
  50% {
      background-color: #bbb; /* not #aaa because it's seems there is Google Chrome bug */
      color: #000;
  }
}

/* Bootstrap Overwrites */

/* Tooltip */

.tooltip.bottom {
  padding-top: 10px;
}
.tooltip > .tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


/* TERMINAL Overwrites */
.terminal, .cmd {
    font-family: monospace;
    /*font-family: FreeMono, monospace; this don't work on Android */
    color: #aaa;
    background-color: #000;
    font-size: 20px;
    line-height: 22px;
}

.terminal .terminal-output div div, .cmd .prompt {
    line-height: 22px;
}
